/*OVERALL STYLING*/
body {
    color:#777777;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background: url(../images/white-waves.png);
    margin: 0px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Georgia", Times, "Times New Roman", serif;
}

.wrapper {
    margin: 0px 30px 0px 30px;
}

h2 {
    color: #4aaaa5;
}

p {
    line-height: 30px;
    margin: -8px 0px 30px 0px;
}

hr {
    margin-bottom: 40px;
}

.floatimg {
    float: left;
    padding-right: 20px;
}


/*HEADER*/
header {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    color: red;
    margin-bottom: 30px;
}

h1 {
    background-color: #4aaaa5;
    color: white;
    padding: 10px;
}

h5 {
    background-color: #4aaaa5;
    color: white;
}

/*FOOTER*/
footer {
    background-color: #666666;
    border-top: 3px solid#4aaaa5;
    padding-top: 20px;
    text-align: center;
    color: white;
    font-size: small;
}

/*MAIN CONTENT*/
main {
    background-color: #ffffff;
    border-color: #dddddd;
    max-width: 960px;
    margin:0px 30px 0px 30px;
    padding: 30px 30px 100px 30px;
}


/*FORM*/

button {
    background-color: #4aaaa5;
    color: white;
    border: none;
    padding: 10px 20px 10px 20px;
    text-align: center;
}

